<html >   
 <head>
  <meta charset="UTF-8">
  <title>Cadastrar Cursos</title>
  </head>
<link rel="stylesheet" href="css/style.css">
    <div class="page-wrapper">
                    <div class="panel-body">
                    <body>
                       <body>
                       <div class="container">
                    <section id="content">
                        <form role="form" ng-submit="$ctrl.cadastrar()">
                            <fieldset>
 <h1>Cadastrar Prédios</h1>
            <div>
                <input type="text" name="formulario.nome" placeholder="Nome" required="" id="nome" class="form-control" ng-model="$ctrl.formulario.nome" required />
            </div>

            <div>
                <input type="text" name="campi" placeholder="Id do Campi" required="" id="campi" class="form-control" ng-model="$ctrl.formulario.id_campus" maxlength=1/>
            </div>
            <div>
                <input type="text" name="sigla" placeholder="Sigla" required="" id="siglasigla" class="form-control" ng-model="$ctrl.formulario.sigla" maxlength=3/>
            </div>
            <div>
                <input type="text" name="latitudelatitudelatitude" placeholder="Latitude do Prédio" required="" id="latitudelatitude" class="form-control" ng-model="$ctrl.formulario.latitude" maxlength=11/>
            </div>  
            <div>
                <input type="text" name="longitude" placeholder="Longitude do Prédio" required="" id="longitude" class="form-control" ng-model="$ctrl.formulario.longitude" maxlength=11/>
            </div>                                    
            <div>
                <input type="submit" value="Cadastrar" />
                <a href="/Admin">Cancelar</a>
            </div>
        </form>
        <div class="button">
        <h1>{{$ctrl.mensagem}}</h1>
        </div>
                            </fieldset>
                        </form>
                    </div>
    </div>
    </div>
    </section>
    </body>
</body>
</html>


 