 <html >   
 <head>
  <meta charset="UTF-8">
  <title>Cadastrar Curso</title>
  </head>
<link rel="stylesheet" href="css/style.css">
    <div class="page-wrapper">
                    <div class="panel-body">
                    <body>
                       <body>
                       <div class="container">
                    <section id="content">
                        <form role="form" ng-submit="$ctrl.cadastrar()">
                            <fieldset>
 <h1>Cadastrar Departamento</h1>
            <div>
                <input type="text" name="formulario.idd" placeholder="Id do Departamento" required="" id="id" class="form-control" ng-model="$ctrl.formulario.id_departamento" required />
            </div>
            <div>
                <input type="text" name="formulario.nome" placeholder="Nome da Matéria" required="" id="nome" class="form-control" ng-model="$ctrl.formulario.nome" required />
            </div>
            <div>
                <input type="text" name="formulario.codigo" placeholder="Código da Matéria" required="" id="codigo" class="form-control" ng-model="$ctrl.formulario.codigo" required />
            </div>
            <div>
                <input type="submit" value="Cadastrar" />
                <a href="/Admin">Cancelar</a>
            </div>
        </form>
        <div class="button">
        <h1>{{$ctrl.mensagem}}</h1>
        </div>
                            </fieldset>
                        </form>
                    </div>
    </div>
    </div>
    </section>
    </body>
</body>
</html>