<menu-principal></menu-principal>
    <div class="page-wrapper">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Registrar Curso</h3>
<div class="form-group">
                                    <input class="form-control" placeholder="Nome da disciplina" ng-model="$ctrl.formulario.nome" type="text" autofocus>
                                </div>

<div class="form-group">
                                    <input class="form-control" placeholder="Id Campus" ng-model="$ctrl.formulario.id_campus" type="text" autofocus>
                                </div>

        <div class="col-md-6 col-md-offset-3">
    <form role="form" ng-submit="$ctrl.cadastrar()">
        <div class="form-group" ng-class="{ 'has-error': form.id_grau.$dirty && form.id_grau.$error.required }">
            <label for="username">Id Grau</label>
            <input type="text" name="id_grau" id="id_grau" class="form-control" ng-model="$ctrl.formulario.id_grau" autofocus required />
            <span ng-show="form.id_grau.$dirty && form.id_grau.$error.required" class="help-block">Id Grau é Obrigatório</span>
        </div>

        <div class="form-group" ng-class="{ 'has-error': form.codigo.$dirty && form.codigo.$error.required }">
            <label for="username">Código</label>
            <input type="text" name="codigo" id="codigo" class="form-control" ng-model="$ctrl.formulario.codigo" required />
            <span ng-show="form.codigo.$dirty && form.codigo.$error.required" class="help-block">Código é Obrigatório</span>
        </div>

        <div class="form-group" ng-class="{ 'has-error': form.permanencia_minima.$dirty && form.permanencia_minima.$error.required }">
            <label for="username">Permanencia Mínima</label>
            <input type="text" name="permanencia_minima" id="permanencia_minima" class="form-control" ng-model="$ctrl.formulario.permanencia_minima" required />
            <span ng-show="form.permanencia_minima.$dirty && form.permanencia_minima.$error.required" class="help-block">Permanencia Mínima é Obrigatório</span>
        </div>

        <div class="form-group" ng-class="{ 'has-error': form.permanencia_maxima.$dirty && form.permanencia_maxima.$error.required }">
            <label for="username">Permanencia Máxima</label>
            <input type="text" name="permanencia_maxima" id="permanencia_maxima" class="form-control" ng-model="$ctrl.formulario.permanencia_maxima" required />
            <span ng-show="form.permanencia_maxima.$dirty && form.permanencia_maxima.$error.required" class="help-block">Permanencia Máxima é Obrigatório</span>
        </div>

        <div class="form-group" ng-class="{ 'has-error': form.creditos_formatura.$dirty && form.creditos_formatura.$error.required }">
            <label for="username">Créditos Formatura</label>
            <input type="text" name="creditos_formatura" id="creditos_formatura" class="form-control" ng-model="$ctrl.formulario.creditos_formatura" required />
            <span ng-show="form.creditos_formatura.$dirty && form.creditos_formatura.$error.required" class="help-block">Créditos Formatura é obrigatório.</span>
        </div>

        <div class="form-group" ng-class="{ 'has-error': form.creditos_optativos_concentracao.$dirty && form.creditos_optativos_concentracao.$error.required }">
            <label for="username">Creditos Optativos Concentração</label>
            <input type="text" name="creditos_optativos_concentracao" id="creditos_optativos_concentracao" class="form-control" ng-model="$ctrl.formulario.creditos_optativos_concentracao" required />
            <span ng-show="form.creditos_optativos_concentracao.$dirty && form.creditos_optativos_concentracao.$error.required" class="help-block">Creditos Optativos Concentração é obrigatório.</span>
        </div>

        <div class="form-group" ng-class="{ 'has-error': form.creditos_optativos_conexa.$dirty && form.creditos_optativos_conexa.$error.required }">
            <label for="username">Creditos Optativos Conexa</label>
            <input type="text" name="creditos_optativos_conexa" id="creditos_optativos_conexa" class="form-control" ng-model="$ctrl.formulario.creditos_optativos_conexa" required />
            <span ng-show="form.creditos_optativos_conexa.$dirty && form.creditos_optativos_conexa.$error.required" class="help-block">Creditos Optativos Conexa é obrigatório.</span>
        </div>

        <div class="form-group" ng-class="{ 'has-error': form.creditos_livres_maximo.$dirty && form.creditos_livres_maximo.$error.required }">
            <label for="username">Creditos Livres Máximo</label>
            <input type="text" name="creditos_livres_maximo" id="creditos_livres_maximo" class="form-control" ng-model="$ctrl.formulario.creditos_livres_maximo" required />
            <span ng-show="form.creditos_livres_maximo.$dirty && form.creditos_livres_maximo.$error.required" class="help-block">Creditos Livres Máximo é obrigatório.</span>
        </div>

            <button class="btn btn-lg btn-success btn-block">Registrar</button>
            <h1>{{$ctrl.mensagem}}</h1>
            <a href="#!/login" class="btn btn-link">Cancelar</a>
        </div>
    </form>
</div>
                    </div>
                </div>
            </div>
        </div>
</div>



 