 <html >   
 <head>
  <meta charset="UTF-8">
  <title>Cadastrar Cursos</title>
  </head>
<link rel="stylesheet" href="css/style.css">
    <div class="page-wrapper">
                    <div class="panel-body">
                    <body>
                       <body>
                       <div class="container">
                    <section id="content">
                        <form role="form" ng-submit="$ctrl.cadastrar()">
                            <fieldset>
 <h1>Cadastrar Cursos</h1>
            <div>
                <input type="text" name="formulario.nome" placeholder="Nome" required="" id="nome" class="form-control" ng-model="$ctrl.formulario.nome" required />
            </div>

            <div>
                <input type="text" name="campi" placeholder="Id do Campi" required="" id="campi" class="form-control" ng-model="$ctrl.formulario.id_campus" maxlength=1/>
            </div>
            <div>
                <input type="text" name="grau" placeholder="Id Grau" required="" id="grau" class="form-control" ng-model="$ctrl.formulario.id_grau" maxlength=1/>
            </div>
            <div>
                <input type="text" name="pm" placeholder="Permanencia Mínima" required="" id="pm" class="form-control" ng-model="$ctrl.formulario.permanencia_minima" maxlength=2/>
            </div>             
            <div>
                <input type="text" name="pm2" placeholder="Permanencia Máxima" required="" id="pm2" class="form-control" ng-model="$ctrl.formulario.permanencia_maxima" maxlength=2/>
            </div>   
            <div>
                <input type="text" name="cf" placeholder="Créditos para Formatura" required="" id="cf" class="form-control" ng-model="$ctrl.formulario.creditos_formatura" maxlength=3/>
            </div> 
            <div>
                <input type="text" name="cc" placeholder="Créditos OPT Concentrados" required="" id="cc" class="form-control" ng-model="$ctrl.formulario.creditos_optativos_concentracao" maxlength=3/>
            </div>  
            <div>
                <input type="text" name="cc2" placeholder="Créditos OPT Conexos" required="" id="cc2" class="form-control" ng-model="$ctrl.formulario.creditos_optativos_conexa" maxlength=3/>
            </div>  
            <div>
                <input type="text" name="ml" placeholder="Créditos ML" required="" id="ml" class="form-control" ng-model="$ctrl.formulario.creditos_livres_maximo" maxlength=2/>
            </div> 
            <div>
                <input type="text" name="codigo" placeholder="Código do Curso" required="" id="codigo" class="form-control" ng-model="$ctrl.formulario.codigo" maxlength=3/>
            </div>                          
            <div>
                <input type="submit" value="Cadastrar" />
                <a href="/Admin">Cancelar</a>
            </div>
        </form>
        <div class="button">
        <h1>{{$ctrl.mensagem}}</h1>
        </div>
                            </fieldset>
                        </form>
                    </div>
    </div>
    </div>
    </section>
    </body>
</body>
</html>


 