<html>
    <head>
        <title>Cadastrar Cursos</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
        <link rel="stylesheet" href="app/Home/assets/css/main.css" />
        <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
    </head>
    <body>

            <div id="content">
                <div class="inner">
 <form role="form" ng-submit="$ctrl.cadastrar()">
<h2><p>Cadastrar Cursos.</p></h2>

                <div>
                    <input type="text" name="formulario.nome" placeholder="Nome" required="" id="nome" class="form-control" ng-model="$ctrl.formulario.nome" required />
                </div>

                <div>
                    <input type="text" name="campi" placeholder="Id do Campi" required="" id="campi" class="form-control" ng-model="$ctrl.formulario.id_campus" maxlength=1/>
                </div>


                <div>
                    <input type="text" name="grau" placeholder="Id Grau" required="" id="grau" class="form-control" ng-model="$ctrl.formulario.id_grau" maxlength=1/>
                </div>

                <div>
                    <input type="text" name="pm" placeholder="Permanencia Mínima" required="" id="pm" class="form-control" ng-model="$ctrl.formulario.permanencia_minima" maxlength=2/>
                </div>  

                <div>
                    <input type="text" name="pm2" placeholder="Permanencia Máxima" required="" id="pm2" class="form-control" ng-model="$ctrl.formulario.permanencia_maxima" maxlength=2/>
                </div> 

                <div>
                    <input type="text" name="cf" placeholder="Créditos para Formatura" required="" id="cf" class="form-control" ng-model="$ctrl.formulario.creditos_formatura" maxlength=3/>
                </div>
                
                <div>
                    <input type="text" name="cc" placeholder="Créditos OPT Concentrados" required="" id="cc" class="form-control" ng-model="$ctrl.formulario.creditos_optativos_concentracao" maxlength=3/>
                </div> 

                <div>
                    <input type="text" name="cc2" placeholder="Créditos OPT Conexos" required="" id="cc2" class="form-control" ng-model="$ctrl.formulario.creditos_optativos_conexa" maxlength=3/>
                </div>

                <div>
                    <input type="text" name="ml" placeholder="Créditos ML" required="" id="ml" class="form-control" ng-model="$ctrl.formulario.creditos_livres_maximo" maxlength=2/>
                </div>

                <div>
                    <input type="text" name="codigo" placeholder="Código do Curso" required="" id="codigo" class="form-control" ng-model="$ctrl.formulario.codigo" maxlength=3/>
                </div>
            
            <section>
                <div>
                    <input type="submit" value="Cadastrar" />
                    <a href="/Admin">Cancelar</a>
                </div>
            </section>

        </form>        
        <h1>{{$ctrl.mensagem}}</h1>
                        </form>
                </div>
            </div>

        <!-- Sidebar -->
            <div id="sidebar">

                <!-- Logo -->
                    <h1 id="logo"><a href="/Usuario/Home">Matweb</a></h1>

                <!-- Nav -->
                    <nav id="nav">
                        <ul>
                                <li><a href="/Admin" id="top-link" class="skel-layers-ignoreHref"><span class="icon fa-home">Inicial</span></a></li>
                                <li><a href="/Curso/Registrar" id="portfolio-link" class="skel-layers-ignoreHref"><span class="icon fa-th">Cad Curso</span></a></li>
                                <li><a href="/Usuario/Cadastrar" id="portfolio-link" class="skel-layers-ignoreHref"><span class="icon fa-th">Cad Usuário</span></a></li>
                                <li><a href="/Oferta/Cadastrar" id="portfolio-link" class="skel-layers-ignoreHref"><span class="icon fa-th">Cad Matéria</span></a></li>
                                <li><a href="/Cadastrar" id="portfolio-link" class="skel-layers-ignoreHref"><span class="icon fa-th">Cad Depart</span></a></li>
                                <li><a href="/Predio/Cadastrar" id="portfolio-link" class="skel-layers-ignoreHref"><span class="icon fa-th">Cad Prédio</span></a></li>
                                <li><a href="/Registrodesala/Cadastrar" id="portfolio-link" class="skel-layers-ignoreHref"><span class="icon fa-th">Cad Sala</span></a></li>
                                <li><a href="#" id="portfolio-link" class="skel-layers-ignoreHref"><span class="icon fa-th">Matricular</span></a></li>
                                <li><a href="#" id="portfolio-link" class="skel-layers-ignoreHref"><span class="icon fa-th">Alunos</span></a></li>
                                <li><a href="#" id="portfolio-link" class="skel-layers-ignoreHref"><span class="icon fa-th">Central</span></a></li>

                        </ul>
                    </nav>

                    <section>
                        <form>  
                            <input type="button" value="LogOut" onClick="history.go(0)"> 
                            <br></br>
                        </form>
                    </section>


            </div>

        <!-- Scripts -->
            <script src="app/Home/assets/js/jquery.min.js"></script>
            <script src="app/Home/assets/js/main.js"></script>
            <script src="app/Home/assets/js/skel.min.js"></script>
            <script src="app/Home/assets/js/util.js"></script>
            <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->

    </body>
</html>