 <html >   
 <head>
  <meta charset="UTF-8">
  <title>Cadastrar Usuário</title>
  </head>
<link rel="stylesheet" href="css/style.css">
    <div class="page-wrapper">
                    <div class="panel-body">
                    <body>
                       <body>
                       <div class="container">
                    <section id="content">
                        <form role="form" ng-submit="$ctrl.cadastrar()">
                            <fieldset>
 <h1>Cadastrar Usuário</h1>
            <div>
                <input type="text" name="formulario.nome" placeholder="Nome" required="" id="nome" class="form-control" ng-model="$ctrl.formulario.nome" required />
            </div>
   <div class="form-group">
   <label class=" control-label col-sm-2" for="id_campus">Campi:</label>
  <div class="col-sm-4">
   <select class="w3-select" name="option" ng-model="$ctrl.formulario.id_campus">
    <option value="1">Darcy Ribeiro</option>
    <option value="2">Ceilândia</option>
    <option value="3">Gama</option>
    <option value="4">Planaltina</option>
  </select>
</div>
</div>
            <div>
                <input type="text" name="formulario.sigla" placeholder="Sigla" required="" id="sigla" class="form-control" ng-model="$ctrl.formulario.sigla" required />
            </div>
            <div>
                <input type="submit" value="Log in" />
                <a href="/Curso">Cancelar</a>
            </div>
        </form>
<button class="btn btn-lg btn-success btn-block">Registrar</button>
        <h1>{{$ctrl.mensagem}}</h1>
                            </fieldset>
                        </form>
                    </div>
    </div>
    </div>
    </section>
    </body>
</body>
</html>