<menu-principal></menu-principal>
    <div class="page-wrapper">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Registrar</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form" ng-submit="$ctrl.registrar()">
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Nome" ng-model="$ctrl.nome" type="text" autofocus>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Matricula" ng-model="$ctrl.matricula" type="text" autofocus>
                                </div>
                                <div class="form-group">
                                <div class="form-group">
                                    <input class="form-control" placeholder="CPF" ng-model="$ctrl.cpf" type="text" value="">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Identidade" ng-model="$ctrl.identidade" type="text" value="">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="email" ng-model="$ctrl.email" type="text" value="">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Sexo" ng-model="$ctrl.sexo" type="text" value="">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="uf" ng-model="$ctrl.uf" type="text" value="">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Ano conclusão" ng-model="$ctrl.ano_conclusao" type="text" value="">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Nome do pai" ng-model="$ctrl.nome_pai" type="text" value="">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Nome da mãe" ng-model="$ctrl.nome_mae" type="text" value="">
                                </div>

                                    <input class="form-control" placeholder="Senha" ng-model="$ctrl.formulario.senha" type="password" value="">
                                </div>
                                <button class="btn btn-lg btn-success btn-block">Registrar</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
