 <html >   
 <head>
  <meta charset="UTF-8">
  <title>Cadastrar Usuário</title>
  </head>
                <div id="main">
                    <section id="top" class="one dark cover">
                        <div class="container">
                        <form role="form" ng-submit="$ctrl.cadastrar()">
                            <fieldset>
 <h1>Cadastrar Usuário</h1>
            <div>
                <input type="text" name="formulario.nome" placeholder="Nome" required="" id="nome" class="form-control" ng-model="$ctrl.formulario.nome" required />
            </div>

            <div>
                <input type="text" name="matricula" placeholder="Matricula" required="" id="matricula" class="form-control" ng-model="$ctrl.formulario.matricula" maxlength=9/>
            </div>
            <div>
                <input type="text" name="cpf" placeholder="CPF" required="" id="cpf" class="form-control" ng-model="$ctrl.formulario.cpf" maxlength=11/>
            </div>
            <div>
                <input type="text" name="perfil" placeholder="Perfil" required="" id="perfil" class="form-control" ng-model="$ctrl.formulario.perfil" />
            </div>             <div>
                <input type="password" name="password" placeholder="Password" required="" id="password" class="form-control" ng-model="$ctrl.formulario.senha" />
            </div>                              
            <div>
                <input type="submit" value="Cadastrar" />
                <a href="/Admin">Voltar</a>
                <a href="/Admin">Cancelar</a>
            </div>

                            </fieldset>
                        </form>
                    </div>
    </section>


</html>

<html>
    <head>
        <title>Admin</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="app/Menuprincipaladmin/assets/css/main.css" />
    </head>
    <body>

        <!-- Header -->
            <div id="header">

                <div class="top">

                    <!-- Logo -->
                        <div id="logo">
                            <span class="image avatar48"><img src="app/Menuprincipaladmin/images/avatar.jpg" alt="" /></span>
                            <h1 id="title">Administrador</h1>
                            <p>UnB</p>
                        </div>

                    <!-- Nav -->
                        <nav id="nav">
                            
                            <ul>
                                <li><a href="/Admin" id="top-link" class="skel-layers-ignoreHref"><span class="icon fa-home">Inicial</span></a></li>
                                <li><a href="/Curso/Registrar" id="portfolio-link" class="skel-layers-ignoreHref"><span class="icon fa-th">Cad Curso</span></a></li>
                                <li><a href="/Usuario/Cadastrar" id="portfolio-link" class="skel-layers-ignoreHref"><span class="icon fa-th">Cad Usuário</span></a></li>
                                <li><a href="/Oferta/Cadastrar" id="portfolio-link" class="skel-layers-ignoreHref"><span class="icon fa-th">Cad Matéria</span></a></li>
                                <li><a href="/Cadastrar" id="portfolio-link" class="skel-layers-ignoreHref"><span class="icon fa-th">Cad Depart</span></a></li>
                                <li><a href="/Predio/Cadastrar" id="portfolio-link" class="skel-layers-ignoreHref"><span class="icon fa-th">Cad Prédio</span></a></li>
                                <li><a href="/Registrodesala/Cadastrar" id="portfolio-link" class="skel-layers-ignoreHref"><span class="icon fa-th">Cad Sala</span></a></li>
                                <li>
                                <li><a href="#" id="portfolio-link" class="skel-layers-ignoreHref"><span class="icon fa-th">Matricular</span></a></li>
                                <li>
                                <li><a href="#" id="portfolio-link" class="skel-layers-ignoreHref"><span class="icon fa-th">Alunos</span></a></li>
                                <li>
                                <li><a href="#" id="portfolio-link" class="skel-layers-ignoreHref"><span class="icon fa-th">Central</span></a></li>
                                <form>  
                                <br></br>
<input type="button" value="LogOut" onClick="history.go(0)"> 
<br></br>
</form>
                            </ul>
                        </nav>

                </div>

            </div>