<!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">

                <a class="navbar-brand" href="index.html">MatWeb</a>
            </div>

                            <!-- /input-group -->
                        
                        <li>
                            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Graduação <span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/Graduacao/Curso/Registrar">Curso</a>
                                </li>
                                <li>
                                    <a href="/Oferta">Oferta</a>
                                </li>
				<li>
                                    <a href="/Registrodesala/Cadastrar">Registrar Sala(teste)</a>
                                </li>
                                 <li>
                                    <a href="/Campus">Campus</a>
                                </li>

				                <li>
					               <a href="/Usuario/Entrar" >Acesso</a>
				                </li>
                                <li>
					               <a href="/Usuario/Registro" >Registro</a>
				                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i>Pós-Graduação <span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/PosGraduacao/Curso/Listar">Curso</a>
                                </li>
                                <li>
                                    <a href="/PosGraduacao/Oferta/Listar">Oferta</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li ng-if="$ctrl.perfil == 'aluno'">
                            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i>Menu do Aluno <span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/Oferta/Solicitar">Solicitar Oferta</a>
                                </li>
                                <li>
                                    <a href="/Matricula/Matricular">Matrícula</a>
                                </li>
                                <li>
                                    <a href="/Matricula/Resultado">Resultado</a>
                                </li>
                            </ul>
<a href="#"><i class="fa fa-bar-chart-o fa-fw"></i>Menu do Administrador <span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/Registrodesala/Cadastrar">Solicitar Oferta</a>
                                </li>
                            <!-- /.nav-second-level -->
                        </li>
		<li ng-if="$ctrl.perfil == 'admin'">
                            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i>Menu do Aluno <span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/Oferta/Solicitar">Solicitar Oferta</a>
                                </li>
                                <li>
                                    <a href="/Matricula/Matricular">Matrícula</a>
                                </li>
                                <li>
                                    <a href="/Matricula/Resultado">Resultado</a>
                                </li>
                            </ul>
<a href="#"><i class="fa fa-bar-chart-o fa-fw"></i>Menu do Administrador <span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/Registrodesala/Cadastrar">Solicitar Oferta</a>
                                </li>
                            <!-- /.nav-second-level -->
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
