 <html >   
 <head>
  <meta charset="UTF-8">
  <title>Login form using HTML5 and CSS3</title>
  </head>
        <link rel="stylesheet" href="css/style.css">
    <div class="page-wrapper">
                <div class="login-panel panel panel-default">
                    <div class="panel-body">
                    <body>
                       <body>
                       <div class="container">
                    <section id="content">
                        <form role="form" ng-submit="$ctrl.entrar()">
                            <fieldset>
 <h1>Acesse seu Cadastro</h1>
            <div>
                <input type="text" name="formulario.usuario" placeholder="Username" required="" id="username" class="form-control" ng-model="$ctrl.formulario.usuario" required />
            </div>

            <div>
                <input type="password" name="password" required="" id="password" class="form-control" ng-model="$ctrl.formulario.senha" />
            </div>
                               
                                <button class="btn btn-lg btn-success btn-block">Entrar</button>
                            </fieldset>
                        </form>
                    </div>
            </div>
    </div>

</html>




