 <html >   
 <head>
  <meta charset="UTF-8">
  <title>Login form using HTML5 and CSS3</title>
  </head>
        <link rel="stylesheet" href="css/style.css">
    <div class="page-wrapper">
                <div class="login-panel panel panel-default">
                    <div class="panel-body">
                        <form role="form" ng-submit="$ctrl.entrar()">
                            <fieldset>


        <div class="form-group" ng-class="{ 'has-error': form.formulario.usuario.$dirty && form.formulario.usuario.$error.required }">
            <label for="username">Matrícula</label>
            <input type="text" name="formulario.usuario" id="predioName" class="form-control" ng-model="$ctrl.formulario.usuario" required />
            <span ng-show="form.formulario.usuario.$dirty && form.formulario.usuario.$error.required" class="help-block">É obrigatório digiar Matrícula</span>
        </div>

  <div class="form-group" ng-class="{ 'has-error': form.formulario.senha.$dirty && form.formulario.senha.$error.required }">
            <label for="password">Senha</label>
            <input type="password" name="password" id="password" class="form-control" ng-model="$ctrl.formulario.senha" required />
            <span ng-show="form.formulario.senha.$dirty && form.formulario.senha.$error.required" class="help-block">É obrigatório sua Senha</span>
        </div>
                               
                                <button class="btn btn-lg btn-success btn-block">Entrar</button>
                            </fieldset>
                        </form>
                    </div>
            </div>
    </div>

</html>





