<div class="page-wrapper">
        <div class="row">
            <div class="col-md-3 col-md-offset-4">
                    <div>
                        <legend>Cadastro de disciplina</legend>
                    </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form role="form" ng-submit="$ctrl.cadastrardisciplina()">
                            <fieldset>
                                <div class="form-group">
                                    <label class = "control-label"> Nome: </label>
                                    <input class="form-control" id="nome" name="nome" placeholder = "Nome da disciplina" ng-model="$ctrl.formulario.nome" type="text" required>
                                </div>
                                <div class="form-group">
                                    <label class = "control-label"> Código: </label>
                                    <input class="form-control" id="codigo" name="codigo" placeholder = "Código da disciplina" ng-model="$ctrl.formulario.codigo" type="text" required> 
                                </div>
                                <div class="form-group">
                                    <label class = "control-label"> Id: </label>
                                    <input class="form-control" id="id_departamento" name="id_departamento" placeholder = "Id do departamento" ng-model="$ctrl.formulario.id_departamento" type="text" required>
                                </div>
                                
                                <button class="btn btn-lg btn-success btn-block">Cadastrar</button>


                                <div> {{$ctrl.mensagem}}</div>  

                            </fieldset>
                        </form>

                            <div> 
                                <a href="/" > <strong> Voltar </strong> </a>
                            </div>
                    </div>
                </div>
            </div>
        </div>
</div>
