<menu-principal></menu-principal>
    <div class="page-wrapper">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Registrar Sala</h3>
 

<div class="col-md-6 col-md-offset-3">
    <form name="form" ng-submit="$ctrl.registrar()" role="form">
        <div class="form-group" ng-class="{ 'has-error': form.predioName.$dirty && form.predioName.$error.required }">
            <label for="username">First name</label>
            <input type="text" name="predioName" id="predioName" class="form-control" ng-model="vm.user.predioName" required />
            <span ng-show="form.predioName.$dirty && form.predioName.$error.required" class="help-block">Nome do Prédio é Obrigatório</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.corredorNumber.$dirty && form.corredorNumber.$error.required }">
            <label for="username">Numero do carredor</label>
            <input type="text" name="corredorNumber" id="corredorNumber" class="form-control" ng-model="vm.user.corredorNumber" required />
            <span ng-show="form.corredorNumber.$dirty && form.corredorNumber.$error.required" class="help-block">Numero do corredor é obrigatório</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.salaname.$dirty && form.salaname.$error.required }">
            <label for="salaname">Nome da Sala</label>
            <input type="text" name="salaname" id="salaname" class="form-control" ng-model="vm.user.salaname" required />
            <span ng-show="form.salaname.$dirty && form.salaname.$error.required" class="help-block">Nome da Sala é importante</span>
        </div>
        <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">Registrar</button>
            <a href="#!/login" class="btn btn-link">Cancelar</a>
        </div>
    </form>
</div>


                    </div>
                </div>
            </div>
        </div>
    </div>