<menu-principal></menu-principal>
    <div class="page-wrapper">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Registrar Sala</h3>
 

<div class="btn-group" role="group" aria-label="...">
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Prédio de Registro
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="#">FT</a></li>
      <li><a href="#">FS</a></li>
    </ul>
  </div>
</div>


<div class="dropdown show">
  <a class="btn btn-secondary dropdown-toggle" href="https://example.com" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown link
  </a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="https://xvideos.com.br">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>
</div>

    <h2>Registro de Sala</h2>
    <form name="form" ng-submit="vm.register()" role="form">
        <div class="form-group" ng-class="{ 'has-error': form.predioName.$dirty && form.predioName.$error.required }">
            <label for="username">Departamento(Eletrica/Mecanica/Civil)</label>
            <input type="text" name="predioName" id="predioName" class="form-control" ng-model="vm.user.predioName" required />
            <span ng-show="form.predioName.$dirty && form.predioName.$error.required" class="help-block">É obrigatório selecionar o prédio</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.corredorNumber.$dirty && form.corredorNumber.$error.required }">
            <label for="username">Corredor de Localização</label>
            <input type="text" name="corredorNumber" id="Text1" class="form-control" ng-model="vm.user.corredorNumber" required />
            <span ng-show="form.corredorNumber.$dirty && form.corredorNumber.$error.required" class="help-block">É obrigatório o corredor da sala </span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.salaname.$dirty && form.salaname.$error.required }">
            <label for="username">Nome da Sala</label>
            <input type="text" name="salaname" id="salaname" class="form-control" ng-model="vm.user.salaname" required />
            <span ng-show="form.salaname.$dirty && form.salaname.$error.required" class="help-block">Nome da Sala é Obrigatório</span>
        </div>
        <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">Registrar</button>
            <img ng-if="vm.dataLoading" src="" />
            <a href="#!/login" class="btn btn-link">Cancelar</a>
        </div>
    </form>
</div>

                    </div>
                </div>
            </div>
        </div>
    </div>