<html>
    <head>
        <title>Cadastrar Sala</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
        <link rel="stylesheet" href="app/Home/assets/css/main.css" />
        <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
    </head>
    <body>

            <div id="content">
                <div class="inner">
 <form role="form" ng-submit="$ctrl.cadastrar()">
                            <fieldset>
  <label>Cadastrar Salas</label>
            <div>
                <input type="text" name="formulario.rs" placeholder="Resp Sala" required="" id="rs" class="form-control" ng-model="$ctrl.formulario.id_resp_sala" required />
            </div>

            <div>
                <input type="text" name="predio" placeholder="Id do Prédio" required="" id="predio" class="form-control" ng-model="$ctrl.formulario.id_predio" maxlength=1/>
            </div>
            <div>
                <input type="text" name="codigo" placeholder="Código" required="" id="codigo" class="form-control" ng-model="$ctrl.formulario.codigo" maxlength=3/>
            </div>                                  
            <div>
                <input type="submit" value="Cadastrar" />
                <a href="/Admin">Cancelar</a>
            </div>

        </form>        
        <h2>{{$ctrl.mensagem}}</h2>

                            </fieldset>
                        </form>
                </div>
            </div>

        <!-- Sidebar -->
            <div id="sidebar">

                <!-- Logo -->
                    <h1 id="logo"><a href="#">Matweb</a></h1>

                <!-- Nav -->
                    <nav id="nav">
                        <ul>
                                <li><a href="/Admin" id="top-link" class="skel-layers-ignoreHref"><span class="icon fa-home">Inicial</span></a></li>
                                <li><a href="/Curso/Registrar" id="portfolio-link" class="skel-layers-ignoreHref"><span class="icon fa-th">Cad Curso</span></a></li>
                                <li><a href="/Usuario/Cadastrar" id="portfolio-link" class="skel-layers-ignoreHref"><span class="icon fa-th">Cad Usuário</span></a></li>
                                <li><a href="/Oferta/Cadastrar" id="portfolio-link" class="skel-layers-ignoreHref"><span class="icon fa-th">Cad Matéria</span></a></li>
                                <li><a href="/Cadastrar" id="portfolio-link" class="skel-layers-ignoreHref"><span class="icon fa-th">Cad Depart</span></a></li>
                                <li><a href="/Predio/Cadastrar" id="portfolio-link" class="skel-layers-ignoreHref"><span class="icon fa-th">Cad Prédio</span></a></li>
                                <li><a href="/Registrodesala/Cadastrar" id="portfolio-link" class="skel-layers-ignoreHref"><span class="icon fa-th">Cad Sala</span></a></li>
                                <li><a href="#" id="portfolio-link" class="skel-layers-ignoreHref"><span class="icon fa-th">Matricular</span></a></li>
                                <li><a href="#" id="portfolio-link" class="skel-layers-ignoreHref"><span class="icon fa-th">Alunos</span></a></li>
                                <li><a href="#" id="portfolio-link" class="skel-layers-ignoreHref"><span class="icon fa-th">Central</span></a></li>

                        </ul>
                    </nav>

                    <section>
                        <form>  
                            <input type="button" value="LogOut" onClick="history.go(0)" href="/Matweb/Site"> 
                            <br></br>
                        </form>
                    </section>


            </div>

        <!-- Scripts -->
            <script src="app/Home/assets/js/jquery.min.js"></script>
            <script src="app/Home/assets/js/main.js"></script>
            <script src="app/Home/assets/js/skel.min.js"></script>
            <script src="app/Home/assets/js/util.js"></script>
            <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->

    </body>
</html>