<menu-principal></menu-principal>
    <div class="page-wrapper">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Registrar Curso</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form" ng-submit="$ctrl.registrar()">
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Nome" ng-model="$ctrl.formulario.nome" type="text" autofocus>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Código" ng-model="$ctrl.formulario.codigo" type="text" autofocus>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Permanencia Mínima" ng-model="$ctrl.formulario.permanencia_minima" type="text" value="">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Permanencia Máxima" ng-model="$ctrl.formulario.permanencia_maxima" type="text" value="">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Créditos Formatura" ng-model="$ctrl.formulario.creditos_formatura" type="text" value="">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Creditos Optativos Concentração" ng-model="$ctrl.formulario.creditos_optativos_concentracao" type="text" value="">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Creditos Optativos Conexa" ng-model="$ctrl.formulario.creditos_optativos_conexa" type="text" value="">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Creditos Livres Máximo" ng-model="$ctrl.formulario.creditos_livres_maximo" type="text" value="">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="mensagem" ng-model="$ctrl.mensagem" type="text" value="">
                                </div>
                                <button class="btn btn-lg btn-success btn-block">Registrar</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>